altair
annotated-types
anyio
attrs
blinker
boto3
botocore
cachetools
certifi
charset-normalizer
click
contourpy
cycler
decorator
easyocr
filelock
filetype
fonttools
fsspec
GitPython
idna
imageio
Jinja2
joblib
jsonlines
jsonschema
kiwisolver
lazy_loader
llvmlite
lxml
MarkdownSafe
matplotlib
mpmath
numba
numpy
openai
opencv-python-headless
openpyxl
packaging
pandas
pillow
plotly
proto-plus
protobuf
pyarrow
pyclipper
pydantic
pydeck
Pygments
pyodbc
pyparsing
PyPDF2
python-bidi
python-dateutil
python-docx
python-dotenv
python-pptx
pytesseract
pytz
PyYAML
regex
requests
rich
rsa
s3transfer
scikit-image
scikit-learn
scipy
setuptools
six
streamlit
sympy
tenacity
tifffile
tiktoken
toml
tornado
tqdm
typing_extensions
tzdata
urllib3
wheel
XlsxWriter
